<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Your trusted online bookstore since 2024.</p>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <p>Email: contact.bookstore.com<br>
        Phone: (555) 123-4567</p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <div class="social-links">
          <a href="#" class="text-white me-2">Facebook</a>
          <a href="#" class="text-white me-2">Twitter</a>
          <a href="#" class="text-white">Instagram</a>
        </div>
      </div>
    </div>
  </div>
</footer>